{% extends "base.html" %}

{% block content %}
	<style type="text/css">
		.editor {
			background: #eee;
			padding: 25px;
		}
		textarea {
			height: 250px;
			border: 0;
			color: #4e4e4e;
			width: 100%;
			line-height: 25px;
			font-size: 15px;
			background: #eee;
			outline: none;
		}
	</style>
	<p>Paste javascript code below and hit review to know how clean it is!</p>
	<form method="post" action="/report">
		<div class="editor">
			<textarea name="code" id="code"></textarea>
		</div>
		<p>
			<button type="submit">review</button>
		</p>
	</form>
	<script type="text/javascript">
		window.onload = function() {
			document.getElementById("code").focus();
		};
	</script>
{% endblock %}