{% extends "base.html" %}

{% block content %}
	<style type="text/css">
		.lines {
			padding: 10px 0;
			background: #eee;
			margin: 0;
			list-style-type: none;
			width: 10000px;
			font-size: 12px;
		}
		.lines .line {
			overflow: hidden;
			padding: 0;
			margin: 1px 0;
			list-style-type: none;
		}
		.lines .line .gutter {
			float: left;
			text-align: right;
			width: 25px;
			padding: 4px 5px 4px 0;
			color: #777;
			font-size: 11px;
		}
		.lines .nomessage .gutter {
			color: #ccc;
		}
		.lines .line .messages {
			float: left;
			padding: 0;
			margin: 0;
			list-style-type: none;
			width: 500px;
		}
		.lines .line .messages li {
			padding: 4px 1em;
			line-height: 13px;
		}
		.lines .line .code {
			float :left;
			margin: 0;
			padding: 0 1em;
			font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
			font-size: 11px;
		}
		.lines .error, .lines .info, .lines .warning {
			border-left: 4px solid #3e93bf;
			background: #ddd;
			font-size: 11px;
			box-shadow: 0px 1px 2px #666;
		}
		.lines .warning {
			border-color: #f5931f;
		}
		.lines .error {
			font-weight: bold;
			border-color: #d83e0f;
		}
		.general .error {
			color: #d83e0f;
		}
		.general .warning {
			color: #f5931f;
		}
		.reportSharing {
			display: none;
			position: absolute;
			height: 26px;
			top: 23px;
			left: 150px;
		}
		.shareUrlBtn {
			position: absolute;
			top: 0;
			left: 0;
			font-size: 12px;
			border-radius: 4px 0 0 4px;
		}
		#shareUrlField {
			position: absolute;
			top: 0;
			left: 57px;
			font-size: 12px;
			border: 1px solid #aaa;
			padding: .25em 1em;
			border-radius: 0 4px 4px 0;
			width: 200px;
		}

		.share {
			margin-top: 0;
			padding: 0;
			font-size: 12px;
		}
	</style>

	<p class="share">Access this report at <a href="/{{ pb64 }}" id="shareURL"></a></p>

	<div class="rating">{{ rating }}</div>

	<ul class='lines'>
		{% for line in lines %}
			<li class='line{% if line.message_count == 0 %} nomessage{% endif %}'>
				<span class='gutter'>{{ line.line.line_number }}</span>
				<ul class='messages'>
					{% if line.message_count == 0 %}
						<li>&nbsp;</li>
					{% endif %}
					{% for message in line.messages %}
						<li class='{{ message.type }}' id="msg-{{ line.line.line_number }}{{ forloop.counter }}">{{ message.content }}</li>
					{% endfor %}
				</ul>
				<pre class='code'>{{ line.line.complete_line|escape }}</pre>
			</li>
		{% endfor %}
	</ul>

	<script type="text/javascript">
		window.onload = function() {
			document.getElementById("shareURL").innerHTML = document.location.href;
		}
	</script>
{% endblock %}